 
    for setserver-
     dns
-------------------------
    for starter -
    nodemon
-----------------------
    for system variables-
    dotenv
-------------------
    for server -
    express
------------------------
    for authentication-

    jsonwebtoken
    bcryptjs 
    cors
    wsl ubuntu
-------------------------
    for middlewares-
     cookie-parser
     express json middleware
     nodemailer 
     express rate limiter
     mailtrap.io
     gmail email pass

----------------------------
     
    for database-
    mquery
    mongoose
-------------------------
    for chat and video call -
    stream-chat
    stream.js
------------------------

for frontend -

    vite bundler
    react
    tailwind css
    html 5
----------------------------------
for ui -
    react hot toaster for popups
    daisyui
    plugins  - postcss.config,autoprefixer
-----------------------------------
for api setup-
    tanstack query